@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .user-info-cnt {
    @apply px-4 py-2 rounded-md flex flex-row justify-center items-center gap-2;
  }
  .user-info-cnt-num {
    @apply text-xl font-semibold;
  }
  .follow-btn {
    @apply px-3 border bg-gray-50 border-gray-200 rounded-md text-center;
  }
  .svg-button-nomal {
    @apply flex items-center justify-center bg-white rounded cursor-pointer hover:bg-gray-50 w-7 h-7;
  }
  .card-detail-edit-btn {
    @apply flex items-center justify-center flex-row;
  }
}
